In [2]:
import pandas as pd
import seaborn as sns
df = pd.read_csv('all_tweets_RS2.txt', low_memory=False)
#df.dropna(subset=['Locatie']) #8634393
#df.columns
#df.shape
#df.info()
#df.describe()

In [3]:
RS_tractor = len(df[df['Tweets'].str.contains('tractor|Tractor|tractors|Tractors|tractoren|Tractoren')])
RS_trekker = len(df[df['Tweets'].str.contains('trekker|Trekker|trekkers|Trekkers')])

In [4]:
#RS_tractor

In [5]:
#RS_trekker

In [6]:
df = pd.read_csv('all_tweets_not_RS2.txt', low_memory=False)
#df.describe()

In [7]:
#Here we filter out the most populair cities of the Randstad.
df = df[~df['Locatie'].str.contains("Amsterdam|amsterdam|020|Rotterdam|rotterdam|010|Utrecht|utrecht|Den Haag|den haag", na=False)]

In [8]:
#df.describe()

In [9]:
Not_RS_tractor = len(df[df['Tweets'].str.contains('tractor|Tractor|tractors|Tractors|tractoren|Tractoren')])
Not_RS_trekker = len(df[df['Tweets'].str.contains('trekker|Trekker|trekkers|Trekkers')])

In [10]:
#Not_RS_tractor

In [11]:
#Not_RS_trekker

In [12]:
#Here we construct the contingency matrix
table = pd.DataFrame({"Randstad": [RS_trekker, RS_tractor, RS_trekker + RS_tractor], 
                        "Not Randstad": [Not_RS_trekker, Not_RS_tractor, Not_RS_trekker + Not_RS_tractor],
                         "Total":[RS_trekker + Not_RS_trekker, RS_tractor + Not_RS_tractor, RS_tractor + RS_trekker + Not_RS_tractor + Not_RS_trekker ]}, index=["Trekker(s)","Tractor(s)(en)", "Total"])

In [13]:
table

                Randstad  Not Randstad  Total
Trekker(s)           727           338   1065
Tractor(s)(en)       539           108    647
Total               1266           446   1712