In [31]:
import pandas as pd
import seaborn as sns
df = pd.read_csv('all_tweets_RS2.txt', low_memory=False)
#df.dropna(subset=['Locatie']) #8634393
#df.columns
#df.shape
#df.info()
#df.describe()

In [32]:
RS_tractor = len(df[df['Tweets'].str.contains('tractor|Tractor|tractors|Tractors|tractoren|Tractoren')])
RS_trekker = len(df[df['Tweets'].str.contains('trekker|Trekker|trekkers|Trekkers')])

In [33]:
#RS_tractor

In [34]:
#RS_trekker

In [35]:
df = pd.read_csv('all_tweets_not_RS2.txt', low_memory=False)
#df.describe()

In [36]:
#Filter populairste RS plaatsen eruit 
df = df[~df['Locatie'].str.contains("Amsterdam|amsterdam|020|Rotterdam|rotterdam|010|Utrecht|utrecht|Den Haag|den haag", na=False)]

In [37]:
#df.describe()

In [38]:
Not_RS_tractor = len(df[df['Tweets'].str.contains('tractor|Tractor|tractors|Tractors|tractoren|Tractoren')])
Not_RS_trekker = len(df[df['Tweets'].str.contains('trekker|Trekker|trekkers|Trekkers')])

In [39]:
#Not_RS_tractor

In [40]:
#Not_RS_trekker

In [41]:
#Contingency table maken
table = pd.DataFrame({"Randstad": [RS_trekker, RS_tractor, RS_trekker + RS_tractor], 
                        "Countryside": [Not_RS_trekker, Not_RS_tractor, Not_RS_trekker + Not_RS_tractor],
                         "Total":[RS_trekker + Not_RS_trekker, RS_tractor + Not_RS_tractor, RS_tractor + RS_trekker + Not_RS_tractor + Not_RS_trekker ]}, index=["Trekker(s)","Tractor(s)(en)", "Total"])

In [42]:
table

                Randstad  Countryside  Total
Trekker(s)           727          338   1065
Tractor(s)(en)       539          108    647
Total               1266          446   1712