In [35]:
import pandas as pd
import seaborn as sns
df = pd.read_csv('all_tweets_RS2.txt', low_memory=False)
#df.dropna(subset=['Locatie']) #8634393
#df.columns
#df.shape
#df.info()
#df.describe()

In [36]:
RS_tractor = len(df[df['Tweets'].str.contains('tractor|Tractor|tractors|Tractors|tractoren|Tractoren')])
RS_trekker = len(df[df['Tweets'].str.contains('trekker|Trekker|trekkers|Trekkers')])

In [37]:
RS_tractor

18733

In [38]:
RS_trekker

42086

In [51]:
df = pd.read_csv('all_tweets_not_RS2.txt', low_memory=False)
df.describe()

                                                   Tweets    Locatie
count                                             7323037    6240560
unique                                            4985104      49383
top     rt politie wij zijn dringend op zoek naar ergu...  nederland
freq                                                 2014     178477

In [47]:
#Filter populairste RS plaatsen eruit 
df = df[~df['Locatie'].str.contains("Amsterdam|amsterdam|020|Rotterdam|rotterdam|010|Utrecht|utrecht|Den Haag|den haag", na=False)]

In [52]:
df.describe()

                                                   Tweets    Locatie
count                                             7323037    6240560
unique                                            4985104      49383
top     rt politie wij zijn dringend op zoek naar ergu...  nederland
freq                                                 2014     178477

In [42]:
Not_RS_tractor = len(df[df['Tweets'].str.contains('tractor|Tractor|tractors|Tractors|tractoren|Tractoren')])
Not_RS_trekker = len(df[df['Tweets'].str.contains('trekker|Trekker|trekkers|Trekkers')])

In [43]:
Not_RS_tractor

14130

In [53]:
Not_RS_trekker

37843

In [ ]:
#Contingency table maken